Source: xserver-xorg-video-ati
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Drew Parsons <dparsons@debian.org>, Brice Goglin <bgoglin@debian.org>, Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 5),
 pkg-config,
 xserver-xorg-dev (>= 2:1.9.99.901+git20110131),
 x11proto-gl-dev,
 x11proto-xext-dev,
 x11proto-core-dev,
 x11proto-video-dev,
 libgl1-mesa-dev | libgl-dev,
 x11proto-fonts-dev,
 x11proto-randr-dev (>= 1.2),
 x11proto-render-dev,
 libdrm-dev (>= 2.4.17) [!hurd-i386],
 x11proto-dri2-dev,
 x11proto-xf86dri-dev,
 libudev-dev,
 dpkg-dev (>= 1.14.17),
 automake,
 libtool,
 xutils-dev (>= 1:7.5+4),
 quilt,
Standards-Version: 3.9.0
Vcs-Git: git://git.debian.org/git/pkg-xorg/driver/xserver-xorg-video-ati
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/driver/xserver-xorg-video-ati.git

Package: xserver-xorg-video-ati
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
 xserver-xorg-video-r128,
 xserver-xorg-video-mach64,
 xserver-xorg-video-radeon
Provides: ${xviddriver:Provides}
Description: X.Org X server -- AMD/ATI display driver wrapper
 This package provides the 'ati' driver for the AMD/ATI Mach64, Rage128,
 Radeon, FireGL, FireMV, FirePro and FireStream series. This driver is
 actually a wrapper that loads one of the 'mach64', 'r128' or 'radeon'
 sub-drivers depending on the hardware.
 These sub-drivers are brought through package dependencies.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org xf86-video-ati driver module.

Package: xserver-xorg-video-ati-dbg
Architecture: any
Depends:
 ${misc:Depends},
 xserver-xorg-video-ati (= ${binary:Version}),
 xserver-xorg-video-mach64-dbg,
 xserver-xorg-video-r128-dbg,
 xserver-xorg-video-radeon-dbg
Section: debug
Priority: extra
Description: X.Org X server -- AMD/ATI display driver wrapper (debugging symbols)
 This package provides the 'ati' driver for the AMD/ATI Mach64, Rage128,
 Radeon, FireGL, FireMV, FirePro and FireStream series. This driver is
 actually a wrapper that loads one of the 'mach64', 'r128' or 'radeon'
 sub-drivers depending on the hardware.
 These sub-drivers are brought through package dependencies.
 .
 This package provides debugging symbols for this X.org X driver wrapper
 and brings debugging symbols for sub-drivers through package dependencies.

Package: xserver-xorg-video-radeon
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends}
Provides: ${xviddriver:Provides}
Replaces: xserver-xorg-video-ati (<= 1:6.8.191-1)
Suggests: firmware-linux
Description: X.Org X server -- AMD/ATI Radeon display driver
 This package provides the 'radeon' driver for the AMD/ATI Radeon, FireGL,
 FireMV, FirePro and FireStream series.
 .
 Note that this is not the same as the ATI-provided, binary-only, 'fglrx'
 driver, which provides additional 3D functionality for some newer Radeon
 cards, but is not supported.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org xf86-video-ati driver module.

Package: xserver-xorg-video-radeon-dbg
Architecture: any
Depends:
 ${misc:Depends},
 xserver-xorg-video-radeon (= ${binary:Version})
Replaces: xserver-xorg-video-ati-dbg (<= 1:6.8.191-1)
Section: debug
Priority: extra
Description: X.Org X server -- AMD/ATI Radeon display driver (debugging symbols)
 This package provides the 'radeon' driver for the AMD/ATI Radeon, FireGL,
 FireMV, FirePro and FireStream series.
 .
 This package provides debugging symbols for this X.org X driver.
